body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-section-background-color {
    flex: 1 1 auto;
    background-color: #1F2937;
    padding: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-section {
    display: flex;
    min-height: 0;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 800px;
    background-color: #1F2937;
    gap: 15px;
    flex-shrink: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    margin-top: -15px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 30%;
    gap: 20px;
}

.header-with-image {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    width: 800px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.header {
    flex: 1 0 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.placeholder-of-image {
    flex: 1 0 400px;
    background-color: grey;
    color: white;
    font-size: 13px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    font-weight: 700;
    font-size: 14px;
    width: 100px;
    padding: 8px 10px;
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    border: none;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.places {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.places div {
    width: 120px;
    height: 120px;
    border: #3882f6 1.4px solid;
    border-radius: 15px;
    box-sizing: border-box;
}

.places div p {
    text-align: center;
    font-size: 12px;
}

